<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Auto Insurance Application">
    <meta name="author" content="Rachelle Kresch">

    <title>Auto Insurance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Bootstrap select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("app.css") }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
    <script src="{{ static_url("app.js") }}"></script>
  </head>

  <body>
    <div class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Submit Claim</h1>
      </div>

      <div class="form-group">
        <label for="claim_customer">Customer</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" id="show_customer_btn" type="button">View</button>
          </div>
          <select class="selectpicker form-control" data-style="btn-outline-secondary" id="claim_customer" title="Select customer" data-live-search="true"></select>
        </div>
      </div>

      <div class="form-group">
        <label for="claim_vehicle">Vehicle</label>
        <select class="selectpicker form-control" data-style="btn-outline-secondary"  id="claim_vehicle"></select>
      </div>

      <div class="form-group">
        <label for="claim_severity">Claim Severity</label>
        <select class="selectpicker form-control" data-style="btn-outline-secondary" id="claim_severity">
          <option value="0">Level 0: Is that a scratch?</option>
          <option value="1">Level 1: Little bump</option>
          <option value="2">Level 2: Not looking pretty</option>
          <option value="3">Level 3: This looks expensive</option>
          <option value="4">Level 4: Parts of the vehicle are missing</option>
          <option value="5">Level 5: Complete yard sale</option>
        </select>
      </div>

      <div class="form-group">
        <label for="claim_description">Claim Description</label>
        <textarea class="form-control outline-secondary" id="claim_description" rows="3" style="border-color: #6c757d;"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" id="claim_submit">Submit</button>
      </div>

      <div class="alert alert-danger" id="claim_submit_alert" role="alert" style="display: none;">
        <span id="claim_submit_alert_content"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <hr>

      <div class="form-group">
        <button class="btn btn-lg btn-info btn-block" id="view_statistics">Show Statistics</button>
      </div>

    </div>

    <div class="modal fade bd-example-modal-lg" id="claim_report_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Claim Processing Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3><span id="report_customer_name"></span></h3>
            <p>
              <b>Customer ID</b>: <span id="report_customer_id"></span><br />
              <b>Policy Details</b>: <span id="report_policy_details"></span><br />
              <b>Premium</b>: $<span id="report_policy_premium"></span> per year<br />
              <b>Deductable</b>: $<span id="report_policy_deductable"></span><br />
              <b>Number of Vehicles</b>: <span id="report_customer_num_vehicles"></span><br />
              <b>Risk Score</b>: <span id="report_customer_risk_score"></span>
            </p>


            <div class="bd-callout bd-callout-warning">
              <div class="row">
                <div class="col-md-6">
                  <h4>Claim: <span id="report_claim_id"></span></h4>
                  <p><b>Description</b>: <span id="report_claim_description"></span></p>
                  <p><b>Estimated Cost to Repair</b>: $<span id="report_claim_cost_to_repair"></span></p>
                </div>
                <div class="col-md-6">
                  <div class="card bg-light mb-3">
                    <div class="card-header"><span id="report_claim_vehicle_make_model"></span></div>
                    <img class="card-img-top" id="report_claim_vehicle_image_url" src="https://s-media-cache-ak0.pinimg.com/originals/1a/73/87/1a73874d61c427ec117c667989774dc4.jpg" alt="Vehicle image">
                    <div class="card-body">
                      <p class="card-text">
                        <b>Year</b>: <span id="report_claim_vehicle_year"></span><br />
                        <b>Value</b>: $<span id="report_claim_vehicle_value"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bd-callout bd-callout-info">
              <h5>Cost Summary</h5>
              <p>
                <b>Covered Repair Value</b>: $<span id="report_claim_covered_repair_value"></span><br />
                <b>Out of Pocket Expense For Claim</b>: $<span id="report_claim_out_of_pocket_expense"></span><br />
                <b>Number of Prior Claims</b>: <span id="report_no_prior_claims"></span><br />
                <b>Total Paid on Prior Claims</b>: $<span id="report_claim_existing_deductible"></span><br />
                <b>Remaining Deductible Value</b>: $<span id="report_claim_remaining_deductible"></span>

              </p>
              <h5>Risk Score</h5>
              <p>A risk score associated with the customer's policy is calculated using all available claim data for that policy. We have determined that your policy risk score has been updated to <span id="report_claim_new_risk_score"></span>.</p>
              <div class="alert alert-success" role="alert">
                We covered $<span id="report_claim_covered_repair_value2"></span> of the cost of repairs!
              </div>
              <div class="alert alert-info" id="report_claim_no_new_premium" role="alert">
                Your premium has not increased.
              </div>
              <div class="alert alert-danger" id="report_claim_new_premium" role="alert">
                Unfortunately, due to an increase in risk score, your premium has now increased to $<span id="report_new_premium"></span>.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="statistics_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Database Statistics</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Customers</th>
                  <td id="stats_customers"></td>
                </tr>
                <tr>
                  <th scope="row">Policies</th>
                  <td id="stats_policies"></td>
                </tr>
                <tr>
                  <th scope="row">Vehicle Types</th>
                  <td id="stats_vehicle_types"></td>
                </tr>
                <tr>
                  <th scope="row">Vehicles</th>
                  <td id="stats_vehicles"></td>
                </tr>
                <tr>
                  <th scope="row">Claims</th>
                  <td id="stats_claims"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="customer_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Customer Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3><span id="customer_customer_name"></span></h3>
            <p>
              <b>Customer ID</b>: <span id="customer_customer_id"></span><br />
              <b>Policy Details</b>: <span id="customer_policy_details"></span><br />
              <b>Premium</b>: $<span id="customer_policy_premium"></span> per year<br />
              <b>Deductable</b>: $<span id="customer_policy_deductable"></span><br />
              <b>Number of Vehicles</b>: <span id="customer_num_vehicles"></span><br />
              <b>Number of Claims</b>: <span id="customer_num_claims"></span><br />
              <b>Risk Score</b>: <span id="customer_risk_score"></span>
            </p>
            <div class="card-columns" id="customer_cars"></div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
