<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Auto Insurance Application">
    <meta name="author" content="Rachelle Kresch">

    <title>Auto Insurance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Bootstrap select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("app.css") }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
    <script src="{{ static_url("app.js") }}"></script>
  </head>

  <body>
    <div class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Submit Claim</h1>
      </div>

      <div class="form-group">
        <label for="claim_customer">Customer</label>
        <select class="selectpicker form-control" id="claim_customer" title="Select customer"></select>
      </div>

      <div class="form-group">
        <label for="claim_vehicle">Vehicle</label>
        <select class="selectpicker form-control" id="claim_vehicle"></select>
      </div>

      <div class="form-group">
        <label for="claim_severity">Claim Severity</label>
        <select class="selectpicker form-control" id="claim_severity">
          <option value="0">Level 0: Is that a scratch?</option>
          <option value="1">Level 1: Little bump</option>
          <option value="2">Level 2: Not looking pretty</option>
          <option value="3">Level 3: This looks expensive</option>
          <option value="4">Level 4: Parts of the vehicle are missing</option>
          <option value="5">Level 5: Complete yard sale</option>
        </select>
      </div>

      <div class="form-group">
        <label for="claim_description">Claim Description</label>
        <textarea class="form-control" id="claim_description" rows="3"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" id="claim_submit">Submit</button>
      </div>

      <div class="alert alert-danger" id="claim_submit_alert" role="alert" style="display: none;">
        <span id="claim_submit_alert_content"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="claim_report_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Claim Processing Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3><span id="report_customer_name">Rachelle Kresch</span></h3>
            <p>
              <b>Customer ID</b>: 1403403<br />
              <b>Policy Details</b>: <span id="report_policy_details">Some text about the policy</span><br />
              <b>Premium</b>: $<span id="report_policy_deductable">1000</span> per year<br />
              <b>Deductable</b>: $<span id="report_policy_deductable">1000</span><br />
              <b>Number of Vehicles</b>: <span id="report_customer_num_vehicles">2</span><br />
              <b>Risk Score</b>: <span id="report_customer_risk_score">1.0</span>
            </p>


            <div class="bd-callout bd-callout-warning">
              <div class="row">
                <div class="col-md-6">
                  <h4>Claim: 1352345</h4>
                  <p><b>Description</b>: This is a claim description. There was an accident and I wrote some text about it after the accident that describes how the insurance company should cover some of the cost of the repairs. Some people died and there was a lot of blood but the car is only a little bit damaged. Seems fine right? Yea that totally seems reasonable for a description of the accident claim.</p>
                  <p><b>Estimated Cost to Repair</b>: $5000</p>
                </div>
                <div class="col-md-6">
                  <div class="card bg-light mb-3">
                    <div class="card-header"><span id="report_claim_vehicle_name">Toyota Camry</span></div>
                    <img class="card-img-top" id="report_claim_vehicle_image_url" src="http://st.motortrend.com/uploads/sites/10/2016/07/2017-toyota-camry-se-hybrid-sedan-angular-front.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">
                        <b>Year</b>: <span id="report_claim_vehicle_year">2015</span><br />
                        <b>Value</b>: $<span id="report_claim_vehicle_value">10000</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bd-callout bd-callout-info">
              <h5>Cost Summary</h5>
              <p>
                <b>Covered Repair Value</b>: $4500<br />
                <b>Out of Pocket Expense For Claim</b>: $500<br />
                <b>Existing Claims Toward Deductable</b>: $500<br />
                <b>Remaining Deductable Value</b>: $0
              </p>
              <h5>Risk Score</h5>
              <p>A risk score associated with the customer's policy is calculated using all available claim data for that policy. We have determined that your policy risk score has been updated to <span id="report_claim_new_risk_score">2.4</span>.</p>
              <div class="alert alert-success" role="alert">
                Congratulations, we covered $4500 of the cost of repairs!
              </div>
              <div class="alert alert-info" role="alert">
                Your premium has not increased.
              </div>
              <div class="alert alert-danger" role="alert">
                Unfortunately, due to an increase in risk score, your premium has now increased to $2000.
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
