<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Auto Insurance Application">
    <meta name="author" content="Rachelle Kresch">

    <title>Auto Insurance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Bootstrap select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("app.css") }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Submit Claim</h1>
      </div>

      <div class="form-group">
        <label for="claim_customer">Customer</label>
        <select class="selectpicker form-control" id="claim_customer" title="Select customer">
          <option>Nic</option>
          <option>Rachelle</option>
          <option>Adam</option>
        </select>
      </div>

      <div class="form-group">
        <label for="claim_vehicle">Vehicle</label>
        <select class="selectpicker form-control" id="claim_vehicle" title="Select vehicle for claim">
        </select>
      </div>

      <div class="form-group">
        <label for="claim_description">Claim Description</label>
        <textarea class="form-control" id="claim_description" rows="3"></textarea>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </body>

</html>
